[run]
relative_files = True
source = .
omit =
    */migrations/*
    */tests/*
    manage.py
    */settings.py
    */wsgi.py
    */asgi.py
    static/*

[report]
show_missing = True
skip_covered = False
